body {
     background-color: darkgrey;
     /* position: fixed; */
     top: 50%;
     left: 50%;
     /* transform: translate(-50%, -50%); */


}

.message-window {
     height: 400px;
     overflow-y: scroll;
}

/* #japan {
     font-family: 'Noto Sans JP', sans-serif;
     font-family: 'Roboto', sans-serif;
} */


#japan {
     font-family: 'Noto Sans JP', sans-serif;
     font-family: 'Roboto', sans-serif;
     color: blue;
}

ul li {
     color: blue;
}

footer.end {
     color: blue;
}